{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Welcome to Chat System</title>
  <link rel="stylesheet" href="{% static 'chat_home.css' %}" />
</head>
<body>
  <div class="welcome-container">
    <h1>Welcome to Chat System</h1>
    
      <a class="btn" href="{% url 'create_group' %}" >Create Group</a>
      <a class="btn" href="{% url 'join_group' %}" >Join Group</a>
    
    <a class="btn" href="{% url 'chat' %}">Chat</a>
    <a class="btn" href="{% url 'logout' %}">Logout</a>
  </div>
</body>
</html>
